<!DOCTYPE html>
<html lang="en">
<head>
<title>TrackThor</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Warnings</h1>
		<div class="row col-md-7 table-responsive">
			<table id="customerTable" class="table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Level</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="warning : ${warnings}" th:object="${warning}">
						<td th:text="*{date}">Time</td>
						<td th:text="*{level}">WARNING</td>
						<td th:text="*{message}">Test message</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>